*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#081b33;
color:#fff;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:#0b2447;
position:fixed;
width:100%;
top:0;
z-index:999;
}

.logo{
font-size:30px;
font-weight:700;
color:#fff;
}

.logo span{
color:#d4af37;
}

.menu{
display:flex;
list-style:none;
gap:35px;
}

.menu a{
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

.menu a:hover{
color:#d4af37;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:
linear-gradient(rgba(8,27,51,.75),rgba(8,27,51,.85)),
url('https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?auto=format&fit=crop&w=1600&q=80');
background-size:cover;
background-position:center;
}

.hero h1{
font-size:55px;
margin-bottom:15px;
}

.hero h2{
font-size:42px;
margin-bottom:20px;
}

.hero h2 span{
color:#d4af37;
}

.hero p{
font-size:20px;
max-width:900px;
margin:auto;
line-height:1.8;
margin-bottom:35px;
}

.btn,.btn2{
display:inline-block;
padding:16px 35px;
margin:10px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}

.btn{
background:#d4af37;
color:#081b33;
}

.btn2{
border:2px solid #d4af37;
color:#fff;
}

.btn:hover{
background:#fff;
}

.btn2:hover{
background:#d4af37;
color:#081b33;
}
